.about-me {
  color: $dark-grey;
  text-align: center;

  .cards {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    .card {
      height: 20rem;
      width: 20rem;

      img {
        height: 70%;
      }
      .card-front {
        padding: 1rem;
        width: 20rem;
        height: 20rem;
        @include shadow(lighten($background-grey, 70), rgba(0, 0, 0, 0.15));

        
      }
    }
  }
}
