.my-projects {
  text-align: center;
  @include gradient($primary, rgba(236, 34, 255, 1));
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  h2 {
    color: $white;
  }
  .projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .project {
      min-height: 25rem;
      max-height: 35rem;
      width: 20rem;
      padding-bottom: 1rem;
      margin-top: 2rem;
      @include background(darken($primary, 5));
      @include shadow(lighten($primary, 20), rgba(0, 0, 0, 0.15));
      border-radius: 20px;
      transition: transform 0.2s;
      img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
        height: 12rem;
        object-fit: cover;
      }
      .content {
        padding-left: 1rem;
        padding-right: 1rem;
        h3 {
          color: $white;
          font-weight: 600;
          font-size: 1.5rem;
        }
        h4 {
          color: $white;
          text-decoration: underline;
          cursor: pointer;
        }
        p {
          color: $light-grey;
          text-align: start;
          padding: 0.5rem 0rem 0.5rem 0rem;
        }
        .tags {
          display: flex;
          justify-content: center;

          .tag {
            @include background($light-grey);
            @include shadow-1(lighten($primary, 10), rgba(0, 0, 0, 0.15));
            color: $primary;
            margin: 0.5rem;
            padding: 0.3rem;
            border-radius: 20px;
          }
        }
      }
      &:hover {
        -ms-transform: scale(1.05); /* IE 9 */
        -webkit-transform: scale(1.05); /* Safari 3-8 */
        transform: scale(1.05);
      }
    }
  }

  .pagination {
    display: flex;
    margin-top: 3rem;
    justify-content: center;

    .btn {
      color: $white;
      padding: 0.5rem;
      font-weight: 700;
      font-size: 1.5rem;
    }
    .active {
      @include background($white);
      color: $primary;
      padding: 0.5rem;
      font-weight: 700;
      font-size: 1.5rem;
      border-radius: 100%;
    }
  }
}
