.tech-section {
  margin-top: 3rem;
  .tech {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem 1rem 1rem 1rem;

    .item {
      width: 3rem;
      margin: 1rem;

      @include tablet(){
        width: 5rem;
      }
      @include desktop(){
        width: 7rem;
      }
      img {
        width: 100%;
      }
    }
  }
  h3 {
    color: darken($primary, 10);
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
  }
}
