.tech-section {
  margin-top: 3rem;
  .tech {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
    margin: 1rem 1rem 1rem 1rem;

    .item {
      width: 7rem;

      img {
        width: 100%;
      }
    }
  }
  h3 {
    color: darken($primary, 10);
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
  }
}
